<h1>REGISTER HERE</h1>

<form method="POST" action="">
  <div>
    <label for="registeruser">USERNAME</label>
    <input type="text" name="username" placeholder="choose an username">
  </div>
  <div>
    <label for="registerpass">Password</label>
    <input type="password" name="password" placeholder="choose a safe password">
  </div>
  <button>Sign Up Now!</button>
</form>